{{ 'history.css' | asset_url | stylesheet_tag }}

<section class="history">
  <div class="container history--container">
    <span class="text-primary">TENNIS</span>
    <div class="history--content">
      <h3 class="history--title">Raquetas.Accesorios.Peloras</h3>
      <div class="history--text text-grey">Conoce nuestras raquetas y aprende a jugar Tennis cómo un profesional</div>
    </div>
    <a href="#" class="button button-dark button-icon">
      Historia
      <img src="{{ 'icon-arrow.svg' | asset_url }}" width="32px" height="16px">
    </a>
  </div>
</section>
