<section class="our-rackets">
  <div class="our-rackets--controls">
    <h3>Nuestras <b>Raquetas</b></h3>
    <span> Conoce nuestras raquetas y aprende a jugar Tennis cómo un profesional </span>
    <ul>
      <li></li>
    </ul>
    <div class="our-rackets--controls-buttons">
      <button class="button button-light button-icon">p</button>
      <button class="button button-light button-icon">n</button>
    </div>
  </div>
  <div class="our-rackets--items">
    <ul>
      AQUI MOSTRAR LOS PRODUCTOS DESDE EL ADMIN
      <li class="our-rackets--item">P 1</li>
    </ul>
  </div>
</section>
