.button {
  display: inline-flex;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  border-width: 1px;
  border-style: solid;
  border-radius: 52px;
  padding: 18px 32px;
  min-width: 234px;
}

a.button {
  text-decoration: none;
}

.button-light {
  color: var(--color-light);
  border-color: var(--color-light);
}

.button-dark {
  color: var(--color-dark);
  border-color: var(--color-dark);
}

.button-icon {
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.button-light.button-icon .icon {
  filter: invert();
}