:root {
  --color-primary: #CBE346;
  --color-light: #FFFFFF;
  --color-dark: #1e2335;
  --color-dark-two: #2b3049;
  --color-dark-three: #282e47;
  --color-grey: #787878;
  --color-grey-lighter: #f3f4f8;
  --max-width: 1200px;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('{{ "HelveticaNeueRoman.otf" | asset_url }}') format('otf');
  font-weight: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('{{ "HelveticaNeueBold.otf" | asset_url }}') format('otf');
  font-weight: bold;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('{{ "HelveticaNeueBlack.otf" | asset_url }}') format('otf');
  font-weight: 500;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  color: var(--color-dark);
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 18px;
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: normal;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 36px;
}

.text-primary {
  color: var(--color-primary);
}

.text-grey {
  color: var(--color-grey);
}