section.secondary-banner {
  height: 400px;
  overflow: hidden;
}

section.secondary-banner img {
  width: auto;
  height: 100%;
}

@media screen and (min-width: 960px) {

  section.secondary-banner {
    height: auto;
  }

  section.secondary-banner img {
    width: 100%;
  }
}