section.our-rackets {
  max-width: 1920px;
  margin: 0 auto;
}

.our-rackets--controls {
  display: flex;
  justify-content: end;
  color: var(--color-light);
  padding: 62px;
}

.our-rackets--controls-content {
  max-width: 300px;
}

.our-rackets--controls h3 {
  font-size: 50px;
  line-height: 64px;
  margin: 0;
}

.our-rackets--controls p {
  line-height: 30px;
  letter-spacing: 0.5px;
}

.our-rackets--controls ul {
  display: flex;
  gap: 22px;
  padding: 36px 0;
}

.our-rackets--controls ul li {
  background-color: var(--color-light);
  border-radius: 8px;
  width: 8px;
  height: 8px;
  transition: 0.25s ease-in;
}

.our-rackets--controls ul li.active {
  background-color: var(--color-primary);
}

.our-rackets--controls-buttons button {
  margin-left: -10px;
  transition: 0.25s ease-in-out;
}


.our-rackets--controls-buttons button {
  display: inline-grid;
  place-content: center;
  background-color: var(--color-primary);
  border-radius: 50%;
  border: 1px solid transparent;
  margin-right: 20px;
  width: 54px;
  height: 54px;
  box-shadow: 0 8px 8px rgb(0 0 0 / 0.3);
}

.our-rackets--controls-buttons button:first-child img {
  transform: rotate(180deg) translateX(2px);
}

.our-rackets--controls-buttons button.disabled {
  background-color: rgb(255 255 255 / 0.2);
  border-color: var(--color-light);
  box-shadow: none;
}

.our-rackets--items {
  overflow-x: hidden;
}

.our-rackets--items ul {
  display: flex;
  gap: 36px;
  overflow-x: auto;
  padding: 50px;
}

.our-rackets--items li {
  flex: 0 0 288px;
  position: relative;
  height: 344px;
  background-color: var(--color-grey-lighter);
  border-radius: 18px;
  overflow: hidden;
}

.our-rackets--items img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}


.our-rackets--item-index {
  display: grid;
  place-content: center;
  background-color: var(--color-primary);
  color: var(--color-light);
  border-radius: 50%;
  position: absolute;
  top: 16px;
  left: 16px;
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 960px) {
  section.our-rackets {
    display: flex;
  }

  .our-rackets--controls {
    min-width: 530px;
  }
}