header.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  padding: 25px 0;
  height: 86px;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.header--logo {
  display: inline-block;
  position: absolute;
  left: 36px;
  top: 25px;
}

.header--menu-button {
  background: none;
  border: none;
  padding: 0;
  filter: invert();
  align-self: flex-end;
  margin-right: 36px;
}

.header--menu-container {
  background-color: var(--color-grey-lighter);
  flex-basis: 100%;
  flex-grow: 1;
  position: absolute;
  top: -86px;
  left: 0;
  width: 100%;
  padding-top: 16px;
  transform: translateY(-100%);
  transition: 0.5s ease-in-out;
  overflow: hidden;
  padding-bottom: 18px;
}

.header--menu-container.visible {
  height: auto;
  top: 100%;
  transform: translateY(0%);
  z-index: 1;
}

.header--menu-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header--menu-container ul li a {
  text-decoration: none;
  color: var(--color-dark);
  display: inline-block;
}

.header--main-menu {
  padding-bottom: 16px;
  font-size: 16px;
  letter-spacing: 1.5px;
}

.header--main-menu a {
  padding: 16px 0;
}

.header--main-menu li.active {
  font-weight: bold;
}

.header--main-menu li.active::after {
  content: "";
  display: block;
  background-color: var(--color-dark);
  width: 18px;
  height: 2px;
  margin-top: -4px;
}


.header--lang-menu {
  font-size: 13px;
  text-transform: uppercase;
  display: flex;
  gap: 16px;
}

.header--lang-menu li.active {
  font-weight: bold;
}


@media screen and (min-width: 1024px) {

  header.header {
    flex-wrap: nowrap;
    height: auto;
    align-items: initial;
  }

  .header--menu-button {
    display: none;
  }

  .header--menu-container {
    background-color: transparent;
    display: flex;
    flex-basis: auto;
    flex-grow: 0;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;
    transform: translateY(0%);
  }

  .header--main-menu {
    padding-bottom: 0;
  }

  .header--main-menu ul {
    display: flex;
    gap: 60px;
  }

  .header--menu-container ul li a {
    color: var(--color-light);
  }

  .header--main-menu ul li.active::after {
    background-color: var(--color-light);
  }

  .header--lang-menu {
    gap: 16px;
    text-transform: uppercase;
  }

}

@media screen and (min-width: 1440px) {
  .header--logo::after {
    content: '';
    background-color: var(--color-light);
    display: block;
    height: 810px;
    width: 2px;
    position: absolute;
    right: -36px;
    top: -25px;
    z-index: 1;
  }
}