section.history {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey-lighter);
  padding: 72px 0;
}

section.history .text-primary {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1.8px;
  padding: 18px 0;
}

.history--title {
  font-size: 50px;
  line-height: 57px;
  letter-spacing: -18px;
  max-width: 560px;
  padding-bottom: 18px;
}

.history--title span {
  letter-spacing: 0px;
}

.history--text {
  line-height: 32px;
  letter-spacing: 0.5px;
  max-width: 400px;
  padding: 18px 0;

}

section.history a {
  align-self: flex-end;
  margin-top: 24px;
}

@media screen and (min-width: 960px) {

  .history--container {
    display: flex;
    gap: 50px;
  }

  .history--title {
    margin: 0;
  }
}