.image-banner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  height: 785px;
}

.image-banner h2 {
  color: var(--color-light);
  font-size: 54px;
  line-height: 68px;
  max-width: 710px;
  padding-bottom: 36px;
}

.image-banner h2 strong {
  color: var(--color-primary);
}

.image-banner .container {
  width: 100%;
}