footer.footer {
  background-color: var(--color-primary);
  padding: 76px 0;
}

.footer--container {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

footer.footer ul {
  display: flex;
  list-style: none;
}

.footer--menu ul {
  font-size: 13px;
  letter-spacing: 1.14px;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 18px;
}

.footer--social-media {
  gap: 12px;
  padding-top: 18px;
}

footer.footer a {
  color: var(--color-dark-two);
  text-decoration: none;
}

.footer--menu li.active a {
  font-weight: bold;
}

.footer--logo {
  width: 55px;
  height: 55px;
  align-self: end;
}

@media screen and (min-width: 960px) {

  .footer--container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .footer--menu ul {
    flex-direction: row;
    gap: 50px;
  }

  .footer--social-media {
    padding-top: 0;
  }

  .footer--logo {
    align-self: initial;
  }
}